
.card {
    width: 90px;
}

.cardDoubleDown {
    width: 90px;
    transform: rotate(90deg)
}

@media (min-width: 30em) {
    .card {
        width: 100px;
    }
    .cardDoubleDown {
        width: 100px;
    }
}
@media (min-width: 48em) {
    .card {
        width: 90px;
    }
    .cardDoubleDown {
        width: 90px;
    }
}
@media (min-width: 62em) {
    .card {
        width: 100px;
    }
    .cardDoubleDown {
        width: 100px;
    }
}
@media (min-width: 80em) {
    .card {
        width: 120px;
    }
    .cardDoubleDown {
        width: 120px;
    }
}
@media (min-width: 96em) {
    .card {
        width: 150px;
    }
    .cardDoubleDown {
        width: 150px;
    }
}
